---
import Back from "../components/Back.astro";
import Layout from "../components/Layout.astro";
import { Code } from "astro:components";

const full = `#box {
    background-color: blue;
  }

@media (min-aspect-ratio: 16 / 9) {
  #box {
    background-color: green;
  }
}
`;
---

<Layout>
  <Back />
  <div class="flex flex-col gap-4">
    <div
      class="h-80 w-80 flex justify-center items-center text-white font-bold text-4xl"
      id="box"
    >
    </div>
    <div class="w-80 flex flex-col gap-4">
      <Code code={full} lang="css" />
    </div>
  </div>
</Layout>

<style>
  #box {
    background-color: blue;
  }

  @media (min-aspect-ratio: 16 / 9) {
    #box {
      background-color: green;
    }
  }
</style>

<script>
  const box = document.getElementById("box");

  if (box) {
    box.innerText = `${window.innerWidth}px / ${window.innerHeight}px`;
    window.addEventListener(
      "resize",
      () => (box.innerText = `${window.innerWidth}px / ${window.innerHeight}px`)
    );
  }
</script>
